
<main>
    <div class="nav">
        <button class="nav__button" id="back">
            <img src="/svg/nav-left.svg">
        </button>
        <button class="nav__button" id="forward">
            <img src="/svg/nav-right.svg">
        </button>
        <button class="nav__button" id="reload">
            <img src="/svg/nav-reset.svg">
        </button>
        <button class="nav__button" id="home">
            <img src="/svg/nav-home.svg">
        </button>
        <input class="nav__input" type="text" id="input">
        <button class="nav__button" id="go">
            <img src="/svg/nav-run.svg">
        </button>
    </div>
</main>

